# checkpoints
checkpoints/
weights/

# images for test
scripts/data
# scripts/data_new
scripts/calibration_dataset_ias

# cloned repositories
src/door_navigation/py_packages/*
src/door_navigation/__pycache__

