# checkpoints
checkpoints/
weights/

# images for test
scripts/data
#scripts/data_new
scripts/calibration_dataset_ias

# cloned repositories
src/door_navigation/py_packages/*

# pycache files
src/door_navigation/__pycache__
scripts/utils/__pycache__
scripts/__pycache__

# ply files fpr testing
*.ply
