accelerate
addict
aiofiles
altair
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
argcomplete
asttokens
attrs
automat
backcall
blinker
catkin-pkg
certifi
cfgv
charset-normalizer
click
cmake
colorama
comm
configargparse
constantly
contourpy
cycler
dash
decorator
defusedxml
distlib
distro
docutils
e3nn
einops
empy
evo
exceptiongroup
executing
fastapi
fastjsonschema
ffmpy
filelock
flask
fonttools
fsspec
gradio
gradio-client
gradio-imageslider
h11
# hf-xet # hf-xet is optional and only used for experimental HF transfer acceleration, NOT needed in Jetson, huggingface-hub will fall back to standard HTTP — perfectly fine.
httpcore
httpx
huggingface-hub
hyperlink
identify
idna
imageio
imageio-ffmpeg
importlib-metadata
importlib-resources
incremental
ipython
ipywidgets
itsdangerous
jedi
jinja2
joblib
jsonschema
jsonschema-specifications
jupyter-core
jupyterlab-widgets
kiwisolver
lit
lz4
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
moviepy
mpmath
narwhals
natsort
nbformat
nest-asyncio
networkx
nodeenv
numexpr
numpy
ollama
omegaconf
open3d
opencv-python
opt-einsum
opt-einsum-fx
orjson
packaging
pandas
parso
pexpect
pickleshare
pillow
pillow-heif
pkgutil-resolve-name
platformdirs
plotly
plyfile
polars
pre-commit
proglog
prompt-toolkit
psutil
ptyprocess
pure-eval
pycocotools
# pycolmap # is a Python binding for COLMAP, not available for Jetson, need to build from source separately if needed.
pydantic
pydantic-core
pydub
pygments
pyparsing
pyquaternion
pyrealsense2
python-dateutil
python-multipart
pytz
pyyaml
referencing
regex
requests
retrying
rich
rosbags
rospkg
rpds-py
ruamel-yaml
ruamel-yaml-clib
ruff
safetensors
scikit-learn
scipy
seaborn
semantic-version
sentencepiece
setuptools
shellingham
six
sniffio
stack-data
starlette
supervision
sympy
threadpoolctl
timm
tokenizers==0.15.2 # export HF_HUB_DISABLE_XET=1 before pip install to disable xet if issues arise
tomli
tomlkit
tqdm
traitlets
transformers
trimesh
twisted
typer
typing-extensions
tzdata
ultralytics
ultralytics-thop
urllib3
uvicorn
virtualenv
wcwidth
websockets
werkzeug
wheel
widgetsnbextension
yapf
zipp
zope-interface
zstandard