<?xml version="1.0"?>
<launch>
    
    <!-- door detector Node -->
    <node pkg="door_navigation" type="door_detector_node.py" name="door_detector_node" output="screen"/>
    
    <!-- Door Pose Estimator Node -->
    <node pkg="door_navigation" type="door_pose_estimator_node.py" name="door_pose_estimator_node" output="screen"/>
    
    <!-- Door State Estimator Service -->
    <node pkg="door_navigation" type="door_state_estimator_node.py" name="door_state_estimator_service" output="screen"/>
    
    <!-- Door Coordinator Node -->
    <node pkg="door_navigation" type="door_coordinator_node.py" name="door_coordinator_node" output="screen"/>
    
    <!--
    <node pkg="rviz" type="rviz" name="door_navigation_rviz" 
          args="-d $(find door_navigation)/rviz/door_navigation.rviz"/>
    -->
    
</launch>
